<!-- <div class="container sectList bodyColor"> -->

	<div class="sectionTxt section__end">
		<p class="sectionList__title">
			What Client’s Say?
		</p>
		<p class="sectionList__txt sectionTxt__txt">
			Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum
		</p>
		<p class="sectionTxt__cit" >
			Jonh Doe
		</p>			
	</div>
	
<!-- </div> -->