<div class="container sectList bodyColor">
	<div class="sectionClient">
		<p class="sectionClient__txt">
			our happy clients
		</p>
		<div class="sectionClient__barra"></div>
		<a class="sectionClient__icon" href="#">
			<i class="fa fa-chevron-left icon-barra" aria-hidden="true"></i>
			<i class="fa fa-chevron-right icon-barra" aria-hidden="true"></i>
		</a>
	</div>
	<div class="sectionClient__box">
		<div class="sectionClient__brand">
			<img class="responsiveImg" src="img/jquery.png" alt="#">
		</div>
		<div class="sectionClient__brand">
			<img class="responsiveImg" src="img/jquery.png" alt="#">
		</div>
		<div class="sectionClient__brand">
			<img class="responsiveImg" src="img/jquery.png" alt="#">
		</div>
		<div class="sectionClient__brand">
			<img class="responsiveImg" src="img/jquery.png" alt="#">
		</div>
		<div class="sectionClient__brand">
			<img class="responsiveImg" src="img/jquery.png" alt="#">
		</div>
		<div class="sectionClient__brand">
			<img class="responsiveImg" src="img/jquery.png" alt="#">
		</div>
	</div>
</div>