<section class="contenText">
	<div class="modWrap ">
		<div class="contenText__container">
			<div class="contenText__txt">
				<h2 class="contenText__title">
					{{data[section].titolo}}
				</h2>
				<p class="contenText__paragraph">
					{{data[section].txt}}
				</p>
				<!-- <hr> -->
			</div>
		</div>
	</div>	
</section>