<footer class="footer bgBase">
	<div class="modWrap">
		<div class="footer__container">
			<div class="footer__item">
				<ul class="info__adress">
					<!-- <li class="info__icon">
						
					</li> -->
					<li class="info__List">
						<span class="info__location">
							<a class="icon-location" href="#" target="_blank"></a>
							De Donno Gipsergeschäft GmbH 
						</span>
						<!-- <p class="info__about "> 
							De Donno Gipsergeschäft GmbH 
						</p> -->
						
					</li>
					<li class="info__List">
						<p class="info__about"> Schlachthofstrasse 1</p>
					</li>
					<li class="info__List">
						<p class="info__about"> CH-8406 Winterthur </p>
					</li>
				</ul>
				<ul class="info__contacts">
					<li class="info__List">
						<p class="info__about"> T <span class="telephone">+41 52 243 00 49 </span></p>	
					</li>
					<li class="info__List">
						<p class="info__about"> F <span class="telephone"> +41 52 243 00 48 </span></p>	
					</li>
					<li class="info__List">
					<a class="info__about" href="#"> info@gipser-dedonno.ch </a>
					</li>
				</ul>
			</div>

			<div class="company">
				<li class="info__icon">
					<img class="imgLogo" src="img/sgs.png" alt="logo SGS">
				</li>
				<li class="info__List">
					<p class="info__company"> Société Générale de Surveillance</p>	
				</li>
				<li class="info__List">
					<p class="info__company"> ISO Zertifiziert 14001 </p>	
				</li>
			</div>
		</div>
	</div>
	<div class="footer__info">
		<span class="info__about infoRelative">
			© 2016 De Donno Gispergeschäft GmbH
		</span>
		<span class="info__referenceDesigner">
			<a class="info__about infoRelative"  href="http://www.sandradimasi.ch/" target="_blank"> sandradimasi.ch</a>
		</span>
	</div>	
</footer>

<a class="scroll" href="#">
	<img class="toTop" src="img/toTop.png" alt="back-to-top">
</a>
