<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__contact">
				<a class="footer__brand" href="#">
					Modus <span class="footer__light">versus</span>
				</a>
				<p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec.
				</p>
				<p class="footer__address">Phone:
					<span class="footer__bold">182 2569 5896</span>
				</p>
				<p class="footer__address top">Email:
					<span class="footer__bold">info@modu.versus</span>
				</p>
			</div>
			<div class="footer__link">
				<a class="footer__brand" href="#">
				 <span class="footer__title">Company</span>
				</a>
				<ul class="footer__list">
					<li class="footer__item"><i class="fa fa-angle-right" aria-hidden="true"></i>
						About
					</li>
					<li class="footer__item"><i class="fa fa-angle-right" aria-hidden="true"></i>
						FAQ
					</li>
					<li class="footer__item"><i class="fa fa-angle-right" aria-hidden="true">
						</i>
						Contact
					</li>
					<li class="footer__item"><i class="fa fa-angle-right" aria-hidden="true"></i>
						Terms
					</li>
					<li class="footer__item"><i class="fa fa-angle-right" aria-hidden="true"></i>
						Privacy
					</li>
					<li class="footer__item">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						Testimonials
					</li>
				</ul>
			</div>
			<div class="footer__link">
				<a class="footer__brand" href="#">
				 <span class="footer__title">Community</span>
				</a>
				<ul class="footer__list">
					<li class="footer__item"><i class="fa fa-angle-right" aria-hidden="true"></i>
						Blog
					</li>
					<li class="footer__item">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						Forum
					</li>
					<li class="footer__item">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						Support
					</li>
					<li class="footer__item"><i class="fa fa-angle-right" aria-hidden="true"></i>
						Newsletter
					</li>
				</ul>
			</div>
			<div class="footer__blog">
				<a class="footer__brand" href="#">
					<span class="footer__light oblique">from the</span> Blog
				</a>
				<ul class="footer__bloglist" >
					<li class="footer__blogitem">
						<span class="footer__square"></span>
						<p class="footer__blogtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit
							<span class="footer__date">
								23 May 2016 </span>
						</p>
					</li>
					<li class="footer__blogitem">
						<span class="footer__square"></span>
						<p class="footer__blogtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit
							<span class="footer__date">
								23 May 2016 </span>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<div class="footer__botton clearfix">
	<div class="container">
		<div class="footer__left">
			<p>
				2013  ModusVersus
			</p>
		</div>
		<div class="footer__right">
			<ul class="footer__sociallist">
				<li class="footer__socialitem">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</li>
				<li  class="footer__socialitem">
					<i class="fa fa-google-plus" aria-hidden="true"></i>
				</li>
				<li  class="footer__socialitem">
					<i class="fa fa-tumblr" aria-hidden="true"></i>
				</li>
				<li  class="footer__socialitem">
					<i class="fa fa-rss" aria-hidden="true"></i>
				</li>
			</ul>
		</div>
	</div>
</div>
