<footer class="footer bgBase">
	<div class="modWrap">
		<div class="footer__container">
			<div class="footer__item">
				<div class="info__adress">
					<li class="txtBold info__List">
						<!-- <span class="info__location"> -->
							<a class="icon-location txtBold" href="https://www.google.it/maps/place/Schlachthofstrasse+1,+8406+Winterthur,+Svizzera/@47.4959476,8.6971035,17z/data=!3m1!4b1!4m5!3m4!1s0x479a9941af72527d:0x161aa147d8271fbf!8m2!3d47.495944!4d8.6992975" target="_blank"></a>
							De Donno Gipsergeschäft GmbH 
						<!-- </span> -->
					</li>
					<li class="info__List">
						<p class="info__about"> Schlachthofstrasse 1</p>
					</li>
					<li class="info__List">
						<p class="info__about"> CH-8406 Winterthur </p>
					</li>
				</div>
				
				<div class="info__contacts">
					<li class="info__List">
						<p class="info__about"> T <span class="telephone">+41 52 243 00 49 </span></p>	
					</li>
					<li class="info__List">
						<p class="info__about"> F <span class="telephone"> +41 52 243 00 48 </span></p>	
					</li>
					<li class="info__List">
					<a class="info__about" href="mailto:info@gipser-dedonno.ch"> info@gipser-dedonno.ch </a>
					</li>
				</div>
			</div>

			<div class="company">
				<li class="info__icon">
					<img class="imgLogo" src="img/sgs.png" alt="logo SGS">
					<!-- <span class="icon-sgs imgLogo"></span> -->
				</li>
				<li class="info__List">
					<p class="info__company"> Société Générale de Surveillance</p>	
				</li>
				<li class="info__List">
					<p class="info__company"> ISO Zertifiziert 14001 </p>	
				</li>
			</div>
		</div>
	</div>
	<div class="footer__info">
		<span class="info__about infoRelative">
			© 2016 De Donno Gispergeschäft GmbH
		</span>
		<span class="info__referenceDesigner">
			<a class="info__about infoRelative"  href="http://www.sandradimasi.ch/" target="_blank"> sandradimasi.ch</a>
		</span>
	</div>	
</footer>

<a class="scroll" href="#">	
	<img class="toTop" src="img/toTop.png"/>
</a>
