<div class="modGallery j-gallery"></div>

<div class="modGallery__wrapper j-contentGallery ">
	<div class="modGallery__content ">

		<div class="modGallery__header">
		</div>
		<div class="modGallery__body">
			<div class="modGallery__title">
				<h2 class="gallery__Title icon-menu_onlyIcs"> 
					Lorem Ipsum, Winterthur
				</h2>
			</div>
			<div class="modGallery__item">
				<!-- <ul class="modGallery__view"> -->
					<div class="modGallery__View">
						<a class="modGallery__photo" href="#">
							<img class="gallery__Photo" src="img/refer2.png" alt="">
						</a>	
					</div>
					<div class="modGallery__View">
						<a class="modGallery__photo" href="#">
							<img class="gallery__Photo" src="img/refer2.png" alt="">
						</a>	
					</div>
					<div class="modGallery__View">
						<a class="modGallery__photo" href="#">
							<img class="gallery__Photo" src="img/refer2.png" alt="">
						</a>	
					</div>
					<div class="modGallery__View">
						<a class="modGallery__photo" href="#">
							<img class="gallery__Photo" src="img/refer2.png" alt="">
						</a>	
					</div>
					<div class="modGallery__View">
						<a class="modGallery__photo" href="#">
							<img class="gallery__Photo" src="img/refer2.png" alt="">
						</a>	
					</div>
					<div class="modGallery__View">
						<a class="modGallery__photo" href="#">
							<img class="gallery__Photo" src="img/refer2.png" alt="">
						</a>	
					</div>
			</div>
		</div>
	</div>
</div>	
