<div class="modal modGallery j-gallery">

	<div class="modGallery__wrapper j-contentGallery ">
		<div class="modGallery__content">
			<div class="modGallery__header">
				<div class="modGallery__title">
					<h2 class="gallery__title "> 
						{{data[section].titolo}}
					</h2>
					<span class="icon-closeStrong j-btnClose"></span>
				</div>
			</div>
			
			<div class="modGallery__body">
			{% for image in data[section].gallery.images %}
			
				<div class="modGallery__item">
					<div class="modGallery__View">
						<a class="modGallery__photo" href="#">
							{{image}}
						</a>	
					</div>	
				</div>
			{% endfor %}
			</div>

		</div>
	</div>
</div>

