<!-- <div class="container sectList bodyColor"> -->
	
	<div class="sectionGrafic section__end">
		<p class="sectionGrafic__title sectionList__txt">
			Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
		</p>
		<div class="sectionGrafic__box">
			<div class="sectionGrafic__single">
				<img class="responsiveImg" src="img/index1.png" alt="image-grafico">
				<p class="widget__txtBold sectionGrafic__txt">
					suspendisse
				</p>
			</div>
			<div class="sectionGrafic__single">
				<img class="responsiveImg" src="img/index2.png" alt="image-grafico">
				<p class="widget__txtBold sectionGrafic__txt">
					maecenas
				</p>
			</div>
			<div class="sectionGrafic__single">
				<img class="responsiveImg" src="img/index3.png" alt="image-grafico">
				<p class="widget__txtBold sectionGrafic__txt">
					aliquam
				</p>
			</div>
			<div class="sectionGrafic__single">
				<img class="responsiveImg" src="img/index4.png" alt="image-grafico">
				<p class="widget__txtBold sectionGrafic__txt">
					habitasse
				</p>
			</div>
		</div>
	</div>
<!-- </div> -->

