<header class="header">
	<div class="header__fixed">
		<div class="modWrap ">
			<div class="header__container">
				<div class="header__logo">
					<img class="imgResponsive" src="img/logo1.png" alt="logo De Donno">
				</div>
				<nav class="header__navbar">
					<li class="header__menu">
						<a class="header__voice j-header__voice " href="index.html">
								Home
							
 						</a>
					</li>
					<li class="header__menu">
						<a class="header__voice j-header__voice" href="angebot.html ">
							
								Angebot <!-- {% if sectionName == 'angebot' %} isactive {% endif %} --> 
								{% if activeMenu == 'about'  %}isActive{% endif %}
							{{ sectionName }} 
 						</a>
					</li>
					<li class="header__menu">
						<a class="header__voice j-header__voice" href="referenzen.html">
							<!-- <p class="voiceHover"> --> 
								Referenzen
							<!-- </p>
 -->					</a>
					</li>
					<li class="header__menu">
						<a class="header__voice j-header__voice" href="uberUns.html">
							<!-- <p class="voiceHover"> --> 
								Über Uns
							<!-- </p>
 -->						</a>
					</li>
					<li class="header__menu">
						<a class="header__voice j-header__voice" href="kontakt.html">
							<!-- <p class="voiceHover"> --> 
								Kontakt
							<!-- </p>
 -->						</a>
					</li>
				</nav>
			</div>
		</div>
	</div>
</header>
