<nav class="navigation clearfix">
		<div class="container">
			<div class="navigation__left">
				<p  class="navigation__title">
				{{data[section].titolo}}
				</p>
			</div>
			<div class="navigation__right">
				<ul class="breadcrumb__list">
					<li class="breadcrumb__item">
						{{data[section].breadcrumbs[0]}}
					</li>
					<li  class="breadcrumb__item">
						/
					</li>
					<li  class="breadcrumb__item">
						{{data[section].breadcrumbs[1]}}
					</li>
				</ul>
		</div>
	</div>
</nav>
