<div class="sectionGrey clearfix">
	<div class="sectionGrey__txt">
		<h3 class="sectionGrey__title">
			{{data[section].sectiongrey.title}}

		</h3>
		<p class="sectionGrey__subtitle">
			{{data[section].sectiongrey.paragrafo}}
		</p>
	</div>
	<div class="sectionGrey__button">
		<a class="button" href="#">
			view more
		</a>
	</div>
</div>
