<section class="CarouselCover">
	<div class="slider__container">
		<div class="slider__total">

			<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button">Previous</button>

			<div class="slider__itemImg">
				<div class="carousel__item">
					<img class="imgResponsive" src="img/slider.png" alt="slider">
				</div>
			</div>
		
			<div class="slider__itemImg">
				<div class="carousel__item">
					<img class="imgResponsive" src="img/slider.png" alt="slider">
				</div>
			</div>
		
			<div class="slider__itemImg">
				<div class="carousel__item">
					<img class="imgResponsive" src="img/slider.png" alt="slider">
				</div>
			</div>
		
			<div class="slider__itemImg">
				<div class="carousel__item">
					<img class="imgResponsive" src="img/slider.png" alt="slider">
				</div>
			</div>
		
			<div class="slider__itemImg">
				<div class="carousel__item">
					<img class="imgResponsive" src="img/slider.png" alt="slider">
				</div>
			</div>

			<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button">Next</button>
		</div>	
	</div>
</section>



