<section class="slider">
	<div class="slider__container">
		<!-- <a class="arrow__slider prev" href="#">
			<span class="arrows">
				<i class="material-icons ind">keyboard_arrow_left</i>
			</span>
		</a> -->
		<div class="slider__total">
<!-- 			<ul class="slider__list">
 -->				<!-- <li class="slider__item"> -->
					<div class="slider__itemImg">
						<img class="imgResponsive" src="img/slider.png" alt="slider">
					</div>
				</li>

				<!-- <li class="slider__item"> -->
					<div class="slider__itemImg">
						<img class="imgResponsive" src="img/slider.png" alt="slider">
					</div>
				</li>

				<!-- <li class="slider__item"> -->
					<div class="slider__itemImg">
						<img class="imgResponsive" src="img/slider.png" alt="slider">
					</div>
				</li>

				<!-- <li class="slider__item"> -->
					<div class="slider__itemImg">
						<img class="imgResponsive" src="img/slider.png" alt="slider">
					</div>
				</li>

				<!-- <li class="slider__item"> -->
					<div class="slider__itemImg">
						<img class="imgResponsive" src="img/slider.png" alt="slider">
					</div>
				</li>
			<!-- </ul> -->
		</div>
		<!-- <a class="arrow__slider next" href="#">
			<span class="arrows">
				<i class="material-icons ind">keyboard_arrow_right</i>
			</span>
		</a>	 -->	
	</div>
</section>
<!-- <div class="indicators">
		<li class="indicators__item">
			<a class="indicators__link" href="#">&bull;</a>
		</li>
		<li class="indicators__item">
			<a class="indicators__link" href="#">&bull;</a>
		</li>
		<li class="indicators__item">
			<a class="indicators__link" href="#">&bull;</a>
		</li>
		<li class="indicators__item">
			<a class="indicators__link" href="#">&bull;</a>
		</li>
		<li class="indicators__item">
			<a class="indicators__link" href="#">&bull;</a>
		</li>
	</div> -->


