<div id="index" class="slider">
			<a class="arrow__slider next" href="#">
				<span class="arrows__slid right">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i>
				</span>
			</a>
			<div class="slider__container">
				<div class="slider__item">
					<div class="slider__img">
						<img class="responsiveImg" src="img/slideHome.jpg" alt="image-slider">
					</div>
					<div class="slider__txt">
						<h2 class="slider__title">
							<span class="slider__titleTxt">
								vestibulum
							</span>
						</h2>
						<p class="slider__subtitle" >
							<span class="slider__subtitleTxt">
								Maecenas emplate is a template for agency or freelancer or corporate Lorem ipsum aperiam!
							</span>
						</p>
					</div>
				</div>
			</div>
			<a class="arrow__slider previus" href="#">
				<span class="arrows__slid left">
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</span>
			</a>
			<!-- 	mancano le line che indicano lo spostamento delle slider -->
		</div>