
<div class="widgets clearfix">
 
	{% for eachPart in data[section].widget %}

		<div class="widget__total j-widgetCover">
			<div class="widget__singlePart widgHome">
				<div class="widget__container">
					<a class="widget__icon" href="#">
						{{eachPart.iconWidg}}
					</a>
					<p class="widget__txtBold">
						{{eachPart.titleWidg}}
					</p>
					<p class="widget__txt">
						{{eachPart.textWidg}}
					</p>
				</div>
			</div>
			<div class="widget__button j-btnCover">
				<a class="button" href="#">
					{{eachPart.buttonWidg}}
				</a>
			</div>
		</div>
	{% endfor %}
</div>