{% extends layout %}
{% block content %}
	{% assign section = "aboutUs" %}

	{% include 'header' %} 

	{% include 'navigation' %}

	{% include 'txtPre' %}

	<div class="container sectList bodyColor">
		{%include 'arrowList' %}
		{%include 'grafic' %}
		{%include 'cit' %}	
	</div>

	<div class="title__widget">
		<h3 class="title__widgetTitl">
			our team	
		</h3>
	</div>

	{%include 'widgImg' %}

	{% include 'txtPost' %}

	{% include 'clients'%}

	{% include 'footer' %}

{% endblock %}






