{% extends layout %}
<!-- {% assign sectionName = 'angebot' %} -->
{% block content %}

{% assign section = "angebot" %}

{% assign activeMenu = "about" %}

	{% include 'header' %}
	{% include 'canvas' %}
	{% include 'contenText' %}

	<section class="angebot">
		<div class="modWrap">
			<div class="angebot__container">
				<div class="angebot__item">
					<div class="angebot__content bgGray">
						<!-- <div class="angebot__box"> -->
							<div class="angebot__txt">
								<div class="angebot__txtWrapper">
									<h3 class="angebot__title">Trockenbau</h3>
									<p class="angebot__paragraph"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. </p>
								</div>
							</div>
							<div class="angebot__img">
								<img class="imgAngebot imgResponsive" src="img/angebot1.png" alt="angebot">
							</div>
						<!-- </div> -->
					</div>

					<div class="angebot__content bgGray">
						<div class="angebot__txt">
							<div class="angebot__txtWrapper">
								<h3 class="angebot__title">Fassade</h3>
								<p class="angebot__paragraph"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. </p>
							</div>
						</div>
						<div class="angebot__img">
							<img class="imgAngebot imgResponsive" src="img/angebot2.png" alt="angebot">
						</div>
					</div>

					<div class="angebot__content bgGray">
						<div class="angebot__txt">
							<div class="angebot__txtWrapper">
								<h3 class="angebot__title">Neubau</h3>
								<p class="angebot__paragraph"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. </p>
							</div>
						</div>
						<div class="angebot__img">
							<img class="imgAngebot imgResponsive" src="img/angebot3.png" alt="angebot">
						</div>
					</div>

					<div class="angebot__content bgGray">
						<div class="angebot__txt">
							<div class="angebot__txtWrapper">
								<h3 class="angebot__title">Lorem Impsum</h3>
								<p class="angebot__paragraph"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. </p>
							</div>
						</div>
						<div class="angebot__img">
							<img class="imgAngebot imgResponsive" src="img/angebot4.png" alt="angebot">
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>
		
	{% include 'footer' %}
{% endblock %}