{% extends layout %}

{% block content %}



	{% include 'header' %}


	<div class="breadcrumb clearfix">
			<div class="container">
				<div class="breadcrumb__left">
					<p  class="breadcrumb__title">
						CONTACT US
					</p>
				</div>
				<div class="breadcrumb__right">
					<ul class="breadcrumb__list">
						<li class="breadcrumb__item">
							Home
						</li>
						<li  class="breadcrumb__item">
							/
						</li>
						<li  class="breadcrumb__item">
							contact
						</li>
					</ul>
			</div>
		</div>
	</div>
	<div class="container">

		<div class="map">
			<img class="img__responsive" src="img/map.jpg" alt="" />
		</div>

		<div class="info">
			<p class="info__text">
				Etiam tincidunt laoreet turpis a vulputate. Etiam diam lorem, convallis ac laoreet a, pretium id nisl. Morbi tincidunt nibh a ante fringilla at tincidunt eros venenatis. Nunc a dui mi, in imperdiet sem. Aenean eu nulla massa. Ut interdum tristique est commodo pharetra.
			</p>
		</div>

		<div class="contact clearfix">
			<div class="contact__form">
				<h1 class="contact__title">send inquiri</h1>
				<form class="form" action="index.html" method="post">
					<div class="form__container">
						<input id="nome" class="form__input" type="text" name="firstname" value="">
						<label class="form__label" for="nome">Nome</label>
					</div>
					<div class="form__container">
						<input id="email"class="form__input" type="email" name="email" value="">
						<label class="form__label" for="email">Email</label>

					</div>
					<div class="form__container">
						<input id="webSite"class="form__input" type="text" name="web site" value="">
						<label class="form__label" for="webSite">Web Site</label>
					</div>
					<textarea class="form__textarea" name="name" rows="8" cols="60"></textarea>
				<button class="form__button" type="button" name="button">send</button>
				</form>
			</div>

			<div class="contact__address">
				<h1 class="contact__title">address</h1>
				<ul class="contact__list">
					<li class="contact__item">
						<span class="contact__icon mapIcon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
						<p class="contact__text">
							Ut interdum tristique est com modo pharetra.
						</p>
					</li>
					<li class="contact__item">
						<span class="contact__icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
						<p class="contact__text">
							111 5698 5698
						</p>
					</li>
					<li class="contact__item">
						<span class="contact__icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
						<p class="contact__text">
							<a class="contact__email" href="mailto:modus@versus.com" target="_top">modus@versus.com</a>
						</p>
					</li>
				</ul>

			</div>


		</div>


	</div>


	{% include 'footer' %}










{% endblock %}
