{% extends layout %}

{% block content %}
{% assign section = "features"%}


	{% include 'header' %}

	{% include 'navigation' %}

	<div class="container">

		<div class="slideshow">
			<div class=slideshow__img>
				<img src="img/img_features.jpg" alt="" />
			</div>
			<h2 class="slideshow__title">ciaone</h2>


		</div>

	</div>





	{% include 'footer' %}


{% endblock %}
