{% extends layout %}

{% block content %}
{% assign section = "features"%}


	{% include 'header' %}

	{% include 'navigation' %}

	<div class="container">
		<div class="slideshow">
			<img class="slideshow__img" src="img/img_features.jpg" alt="" />
			<h2 class="slideshow__title">PROJECT SLIDESHOW</h2>
			<span class="slideshow__iconLeft"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
			<span class="slideshow__iconright"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		</div>

		<div class="slidepart">
			<div class="slidepart__left">
				<img class="slideshow__img" src="img/slide_blog.jpg" alt="" />
				<h2 class="slidepart__title">BLOG/PAGE slideshow</h2>
				<span class="slidepart__iconLeft"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
				<span class="slidepart__iconRight"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
			</div>
			<div class="slidepart__right">
				<div class="slidebar">
					<img class=""src="img/slide_show.jpg" alt="" />
					<h2 class="slidebar__title">Sidebar slideshow</h2>
					<span class="slidebar__iconLeft">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</span>
					<span class="slidebar__iconRight">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</div>

				<h3 class="sliedebar__subtitle">sIDEBAR GALLERY</h3>
				<div class="slidebar__gallery">
					<img class="slidebar__img" src="img/slide_gallery.jpg" alt="" />
					<img class="slidebar__img" src="img/slide_gallery.jpg" alt="" />
					<img class="slidebar__img" src="img/slide_gallery.jpg" alt="" />
					<img class="slidebar__img" src="img/slide_gallery.jpg" alt="" />
					<img class="slidebar__img" src="img/slide_gallery.jpg" alt="" />
					<img class="slidebar__img" src="img/slide_gallery.jpg" alt="" />
				</div>
				</ul>
			</div>
		</div>


		{% include 'widget'%}

		<div class="accordion__left">
			<div class="accordion__section">
				<a class="accordion__title" href="#">Accordion title</a>
				<div class="accordion__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</p>
				</div>
			</div>
			<div class="accordion__section">
				<a class="accordion__title" href="#">Accordion title</a>
				<div class="accordion__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</p>
				</div>
			</div>
			<div class="accordion__section">
				<a class="accordion__title" href="#">Accordion title</a>
				<div class="accordion__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</p>
				</div>
			</div>
		</div>

		<div class="accordion__right">
			<div class="accordion__section">
				<a class="accordion__title" href="#">Accordion title</a>
				<div class="accordion__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</p>
				</div>
			</div>
			<div class="accordion__section">
				<a class="accordion__title" href="#">Accordion title</a>
				<div class="accordion__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</p>
				</div>
			</div>
			<div class="accordion__section">
				<a class="accordion__title" href="#">Accordion title</a>
				<div class="accordion__text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					</p>
				</div>
			</div>
		</div>



		<div class="tab">
			<ul class="tab__nav">
			  <li class="tab__item">
				  <a class="j__tab active" href="#tab1">Tab 1</a>
			  </li>
			  <li class="tab__item">
				  <a class="j__tab"
				  href="#tab2">Tab 2</a>
			  </li>
			  <li class="tab__item">
				  <a class="j__tab"
				  href="#tab3">Tab 3</a>
			  </li>
			</ul>
			<div class="tab__content">
			  <div class="j__tabCover visible" id="tab1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			  </div>
			  <div class="j__tabCover" id="tab2">Lorem ipsum dolor sit amet, consectetur adipisicing elit
			  </div>
			  <div class="j__tabCover" id="tab3">Lorem ipsum dolor sit amet, consectetur adipisicing elit kdkpw loriwn odiwn
			  </div>
			</div>
		</div>

		<div class="porfolioRow">
			<div class="porfolioRow__box">
				<div class="porfolioRow__conteiner">
					<span class="porfolioRow__icon">
						<i class="fa fa-file-image-o" aria-hidden="true"></i>
					</span>
					<div class="porfolioRow__icons">
						<span class="porfolioRow__iconHover nomargin">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</span>
						<span class="porfolioRow__iconHover">
							<i class="fa fa-link" aria-hidden="true"></i>
						</span>

					</div>
				</div>
			</div>
			<div class="porfolioRow__box">
				<div class="porfolioRow__conteiner">
					<span class="porfolioRow__icon">
						<i class="fa fa-file-image-o" aria-hidden="true"></i>
					</span>
					<div class="porfolioRow__icons">
						<span class="porfolioRow__iconHover">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</span>
						<span class="porfolioRow__iconHover">
							<i class="fa fa-link" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="porfolioRow__box">
				<div class="porfolioRow__conteiner">
					<span class="porfolioRow__icon">
						<i class="fa fa-file-image-o" aria-hidden="true"></i>
					</span>
					<div class="porfolioRow__icons">
						<span class="porfolioRow__iconHover">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</span>
						<span class="porfolioRow__iconHover">
							<i class="fa fa-link" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="porfolioRow__box nomargin">
				<div class="porfolioRow__conteiner">
					<span class="porfolioRow__icon">
						<i class="fa fa-file-image-o" aria-hidden="true"></i>
					</span>
					<div class="porfolioRow__icons">
						<span class="porfolioRow__iconHover">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</span>
						<span class="porfolioRow__iconHover">
							<i class="fa fa-link" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="two__porfolioRow">
			<div class="porfolioRow__twobox">
				<div class="porfolioRow__conteiner">
					<span class="porfolioRow__icon">
						<i class="fa fa-file-image-o" aria-hidden="true"></i>
					</span>
					<div class="porfolioRow__icons">
						<span class="porfolioRow__iconHover nomargin">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</span>
						<span class="porfolioRow__iconHover">
							<i class="fa fa-link" aria-hidden="true"></i>
						</span>

					</div>
				</div>
			</div>
			<div class="porfolioRow__twobox nomargin">
				<div class="porfolioRow__conteiner">
					<span class="porfolioRow__icon">
						<i class="fa fa-file-image-o" aria-hidden="true"></i>
					</span>
					<div class="porfolioRow__icons">
						<span class="porfolioRow__iconHover">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</span>
						<span class="porfolioRow__iconHover">
							<i class="fa fa-link" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="Headline">
			<h1>ciao</h1>

		</div>

	</div>





	{% include 'footer' %}


{% endblock %}
