{% extends layout %}

{% block content %}
{% assign section = "features"%}


	{% include 'header' %}

	{% include 'navigation' %}

	<div class="container">
		<h1>cioa</h1>
	</div>





	{% include 'footer' %}


{% endblock %}
