{% extends layout %}
{% block content %}

{%assign section = "home" %}
	{% include 'header' %}
	{% include 'canvas' %}
	{% include 'contenText' %}

	<section class="previewAngebot">
		<div class="modWrap">
			<div class="previewAngebot__content">
				<h2 class="previewAngebot__title">
					Unsere Tätigkeiten
				</h2>
				<div class="previewAngebot__products">
					<li class="previewAngebot__item">
						<a class="previewAngebot__link" href="angebot.html">
							<img class="imgResponsive rollOver" src="img/imgItem1.png" alt="angebot product">
						</a>
						<p class="previewAngebot__name">
							Trockenbau
						</p>	
					</li>
					<li class="previewAngebot__item">
						<a class="previewAngebot__link" href="angebot.html">
							<img class="imgResponsive rollOver" src="img/imgItem2.png" alt="angebot product">
						</a>
						<p class="previewAngebot__name">
							Fassade
						</p>	
					</li>
					<li class="previewAngebot__item">
						<a class="previewAngebot__link" href="angebot.html">
							<img class="imgResponsive rollOver" src="img/imgItem3.png" alt="angebot product">
						</a>
						<p class="previewAngebot__name">
							Neubau
						</p>	
					</li>
					<li class="previewAngebot__item">
						<a class="previewAngebot__link" href="angebot.html">
							<img class="imgResponsive rollOver" src="img/imgItem4.png" alt="angebot product">
						</a>
						<p class="previewAngebot__name">
							Lorem Ipsum
						</p>	
					</li>
				</div>
			</div>
		</div>	
	</section>

	{% include 'footer' %}
{% endblock %}
