{% extends layout %}
{% block content %}

{%assign section = "home" %}
	{% include 'header' %}
	{% include 'canvas' %}
	{% include 'contenText' %}

	<section class="previewAngebot">
		<div class="modWrap">
			<div class="previewAngebot__content">
				<h2 class="previewAngebot__title">
					Unsere Tätigkeiten
				</h2>
				<div class="previewAngebot__products">
					<li class="previewAngebot__item">
						<div class="previewAngebot__itemWrap">
							<a class="previewAngebot__link" href="angebot.html">
								<img class="imgResponsive rollOver" src="img/home-ang1.jpg" alt="angebot product">
							</a>
							<p class="previewAngebot__name">
								Trockenbau
							</p>
						</div>
					</li>
					<li class="previewAngebot__item">
						<div class="previewAngebot__itemWrap">
							<a class="previewAngebot__link" href="angebot.html">
								<img class="imgResponsive rollOver" src="img/home-ang2.jpg" alt="angebot product">
							</a>
							<p class="previewAngebot__name">
								Fassade
							</p>
						</div>	
					</li>
					<li class="previewAngebot__item">
						<div class="previewAngebot__itemWrap">
							<a class="previewAngebot__link" href="angebot.html">
								<img class="imgResponsive rollOver" src="img/home-ang3.jpg" alt="angebot product">
							</a>
							<p class="previewAngebot__name">
								Neubau
							</p>
						</div>	
					</li>
					<li class="previewAngebot__item">
						<div class="previewAngebot__itemWrap">
							<a class="previewAngebot__link" href="angebot.html">
								<img class="imgResponsive rollOver" src="img/home-ang4.jpg" alt="angebot product">
							</a>
							<p class="previewAngebot__name">
								Lorem Ipsum
							</p>
						</div>	
					</li>
				</div>
			</div>
		</div>	
	</section>

	{% include 'footer' %}
{% endblock %}
