{% extends layout %}
{% block content %}
<!-- ***************************************************************** -->
<!-- HTML CONTENT-->
<!-- ***************************************************************** -->
	{% include 'header' %}
		<div class="slider">
			<a class="arrow next" href="#">
				<span class="arrows right">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i>
				</span>
			</a>
			<div class="slider__container">
				<div class="slider__item">
					<div class="slider__img">
						<img class="responsiveImg" src="img/slideHome.jpg" alt="image-slider">
					</div>
					<div class="slider__txt">
						<h2 class="slider__title"> 
							<span class="slider__titleTxt">
								vestibulum
							</span>	
						</h2>
						<p class="slider__subtitle" >
							<span class="slider__subtitleTxt">
								Maecenas emplate is a template for agency or freelancer or corporate Lorem ipsum aperiam!
							</span>
						</p>
					</div>
				</div>
			</div>
			<a class="arrow previus" href="#">
				<span class="arrows left">
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</span>
			</a>
			<!-- 	mancano le line che indicano lo spostamento delle slider -->	
		</div>
		<div class="container section">
			<div class="sectionGrey clearfix">
				<div class="sectionGrey__txt">
					<h3 class="sectionGrey__title">
						Some of our top services
					</h3>
					<p class="sectionGrey__subtitle">
						Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. 
					</p>
				</div>
				<div class="sectionGrey__button">
					<a class="button" href="#">
						view more
					</a>
				</div>
			</div>

			<div class="widgets clearfix">
				<div class="widget__total">
					<div class="widget__singlePart">
						<div class="widget__container">
							<a class="widget__icon" href="#">
								<i class="fa fa-thumbs-o-up like" aria-hidden="true"></i>
							</a>
							<p class="widget__txtBold">
								suspendisse
							</p>
							<p class="widget__txt">
								Quisque id tellus quis risus vehicula vehicula ut turpis
							</p>
						</div>
					</div>
					<div class="widget__button">
						<a class="button" href="#">
							read more
						</a>
					</div>
				</div>

				<div class="widget__total">
					<div class="widget__singlePart">
						<div class="widget__container">
							<a class="widget__icon" href="#">
								<i class="fa fa-thumbs-o-up like" aria-hidden="true"></i>
							</a>
							<p class="widget__txtBold">
								suspendisse
							</p>
							<p class="widget__txt">
								Quisque id tellus quis risus vehicula vehicula ut turpis
							</p>
						</div>
					</div>
					<div class="widget__button">
						<a class="button" href="#">
							read more
						</a>
					</div>
				</div>

				<div class="widget__total">
					<div class="widget__singlePart">
						<div class="widget__container">
							<a class="widget__icon" href="#">
								<i class="fa fa-thumbs-o-up like" aria-hidden="true"></i>
							</a>
							<p class="widget__txtBold">
								suspendisse
							</p>
							<p class="widget__txt">
								Quisque id tellus quis risus vehicula vehicula ut turpis
							</p>
						</div>
					</div>
					<div class="widget__button">
						<a class="button" href="#">
							read more
						</a>
					</div>
				</div>

				<div class="widget__total">
					<div class="widget__singlePart">
						<div class="widget__container">
							<a class="widget__icon" href="#">
								<i class="fa fa-thumbs-o-up like" aria-hidden="true"></i>
							</a>
							<p class="widget__txtBold">
								suspendisse
							</p>
							<p class="widget__txt">
								Quisque id tellus quis risus vehicula vehicula ut turpis
							</p>
						</div>
					</div>
					<div class="widget__button">
						<a class="button" href="#">
							read more
						</a>
					</div>
				</div>
			</div>
		</div>





	{% include 'footer' %}
{% endblock %}
