{% extends layout %} 
{% block content %}
{% include 'header' %}
<!-- ***************************************************************** -->
<!-- HTML CONTENT-->
<!-- ***************************************************************** -->



<div>
	
</div>



<!-- {% include 'happyClients' %}
{% assign bgHappy = "red" %}


{% include 'happyClients' %}
{% assign bgHappy = "green" %} -->






{% include 'footer' %}
{% endblock %}