{% extends layout %}
{% block content %}

	{% include 'header' %}
	{% include 'canvas' %}
	
	<section class="kontakt">
		<div class="modWrap">

			<div class="kontakt__title">
				<h2 class="title">
					Kontaktieren Sie Uns
				</h2>
			</div>
			<div class="kontakt__container">
				<!-- <form class="kontakt__wrapper" action="kontakt_submit" method="get"> -->
				<form action="http://www.gipser-dedonno.ch/php_newmail.phtml" method="post" id="commentform" class="comment-form" novalidate="">
																			
					<fieldset class="">
						<div class="inputMaterial">
							<input id="author" class="form__voice inputMaterial__input inputMaterial__input" type="text" name="author" placeholder="Name" required>
							<label class="form__item inputMaterial__label" for="name"></label>
						</div>
						<div class="inputMaterial">
							<input class="form__voice inputMaterial__input" type="text" name="name" placeholder="Firma">
							<label class="form__item inputMaterial__label" for=""></label>
						</div>
						<div class="inputMaterial">
							<input id="phone" class="form__voice inputMaterial__input" type="text" name="name" min="1" max="15" placeholder="Telefon">
							<label class="form__item inputMaterial__label" for="phone"></label>
						</div>
						<div class="inputMaterial">
							<input id="email" class="form__voice inputMaterial__input" type="email" value="test@form.it" name="email" placeholder="E-Mail" aria-required="true" required>
							<label class="form__item inputMaterial__label" for="email"></label>
						</div>
						<div class="inputMaterial">
							<input class="form__voice inputMaterial__input" type="text" name="name" placeholder="Betreff">
							<label class="form__item inputMaterial__label" for="name"></label>
						</div>
						<div class="inputMaterial">
							<textarea id="comment" class="form__voice inputMaterial__input Txtarea" name="comment" type="text" placeholder="Nachircht"></textarea>
							<label class="form__item inputMaterial__label" for="note"></label>
						</div>
					</fieldset>
					<button class="btnForm" type="button" id="submit">
						<span> Absenden </span>
					</button>
					<!-- <a class="form__button" href="#"> Absenden </a> -->
				</form>
			</div>

			<div class="footer__itemKont">
				<div class="kontakt__wrapper">
					<ul class="info__adress">
						<li class="info__List">
							<a class="info__linkAdress" href="https://www.google.it/maps/place/Mr.+Luigi+De+Donno/@47.5084737,8.68842,17z/data=!4m12!1m6!3m5!1s0x479a99572addd727:0x22f802a4d303ca6d!2sMr.+Luigi+De+Donno!8m2!3d47.5084701!4d8.6906087!3m4!1s0x479a99572addd727:0x22f802a4d303ca6d!8m2!3d47.5084701!4d8.6906087" target="_blank">
								<p class="info__aboutKont"> De Donno Gipsergeschäft GmbH </p>
							</a>
						</li>
						<li class="info__List">
							<p class="info__aboutKont"> Schlachthofstrasse 1</p>
						</li>
						<li class="info__List">
							<p class="info__aboutKont"> CH-8406 Winterthur </p>
						</li>
					</ul>
					<ul class="info__contacts">
						<li class="info__List">
							<p class="info__aboutKont"> T <span class="telephone">+41 52 243 00 49 </span></p>	
						</li>
						<li class="info__List">
							<p class="info__aboutKont"> F <span class="telephone"> +41 52 243 00 48 </span></p>	
						</li>
					</ul>
					<ul class="info__contacts">
						<li class="info__List">
							<a class="info__aboutKont" href="#"> info@gipser-dedonno.ch </a>
						</li>
						<li class="info__List">
							<a class="info__aboutKont" href="www.gipser-dedonno.ch"> www.gipser-dedonno.ch 
							</a>
						</li>
					</ul>
					<button class="btnForm" type="button">
						<span> Lageplan </span>
					</button> 
						
				</div>
			</div>
			
		</div>	
	</section>	


	{% include 'footer' %}
{% endblock %}