{% extends layout %}
{% block content %}

	{% include 'header' %}
	{% include 'canvas' %}
	
	<section class="kontakt">
		<div class="modWrap">

			<div class="kontakt__title">
				<h2 class="title">
					Kontaktieren Sie Uns
				</h2>
			</div>
			<div class="kontakt__container">
				<form action="kontakt_submit" method="get">
					<fieldset class="">
						<li class="form__list">
							<label class="form__item" for="name">
							<input class="form__voice" type="text" name="name" placeholder="Name" required>
							</label>
						</li>
						<li class="form__list">
							<label class="form__item" for="">
							<input class="form__voice" type="text" name="name" placeholder="Firma">
							</label>
						</li>
						<li class="form__list">
							<label class="form__item" for="phone">
							<input class="form__voice" type="text" name="name" min="1" max="15" placeholder="Telefon">
							</label>
						</li>
						<li class="form__list">
							<label class="form__item" for="email">
							<input class="form__voice" type="text" name="name" placeholder="E-Mail" required>
							</label>
						</li>
						<li class="form__list">
							<label class="form__item" for="name">
							<input class="form__voice" type="text" name="name" placeholder="Betreff">
							</label>
						</li>
						<li class="form__list">
							<label class="form__item" for="note">
							<textarea class="form__voice Txtarea" name="note" type="text" placeholder="Nachircht"></textarea>
							</label>
						</li>
					</fieldset>
					<fieldset class="btnForm">
						<a class="form__button" href="#"> Absenden </a>
					</fieldset>
				</form>
			</div>

			<div class="footer__itemKont">
				<ul class="info__adress">
					<li class="info__List">
						<a class="info__linkAdress" href="https://www.google.it/maps/place/Mr.+Luigi+De+Donno/@47.5084737,8.68842,17z/data=!4m12!1m6!3m5!1s0x479a99572addd727:0x22f802a4d303ca6d!2sMr.+Luigi+De+Donno!8m2!3d47.5084701!4d8.6906087!3m4!1s0x479a99572addd727:0x22f802a4d303ca6d!8m2!3d47.5084701!4d8.6906087" target="_blank">
							<p class="info__aboutKont"> De Donno Gipsergeschäft GmbH </p>
						</a>
					</li>
					<li class="info__List">
						<p class="info__aboutKont"> Schlachthofstrasse 1</p>
					</li>
					<li class="info__List">
						<p class="info__aboutKont"> CH-8406 Winterthur </p>
					</li>
				</ul>
				<ul class="info__contacts">
					<li class="info__List">
						<p class="info__aboutKont"> T <span class="telephone">+41 52 243 00 49 </span></p>	
					</li>
					<li class="info__List">
						<p class="info__aboutKont"> F <span class="telephone"> +41 52 243 00 48 </span></p>	
					</li>
				</ul>
				<ul class="info__contacts">
					<li class="info__List">
						<a class="info__aboutKont" href="#"> info@gipser-dedonno.ch </a>
					</li>
					<li class="info__List">
						<a class="info__aboutKont" href="www.gipser-dedonno.ch"> www.gipser-dedonno.ch 
						</a>
					</li>
				</ul>
				<div class="btnForm">
					<a class="form__button" href="">
						Lageplan
					</a>
				</div>
			</div>
			
			


		</div>	
	</section>	


	{% include 'footer' %}
{% endblock %}