{% extends layout %}

{% block content %}
{% assign section = "portfolio"%}


	{% include 'header' %}

	{% include 'navigation' %}

	<div class="container">
		<div class="portfoliotag">
			<ul class="portfoliotag_list">
				<li class="portfoliotag__item">
					<a href="#">all</a>
				</li>
				<li class="portfoliotag__item">
					<a href="#">web</a>
				</li>
				<li class="portfoliotag__item">
					<a href="#">logo design</a>
				</li>
				<li class="portfoliotag__item">
					<a href="#">photography</a>
				</li>
				<li class="portfoliotag__item">
					<a href="#">wordpress</a>
				</li>
			</ul>
		</div>

		{% for item in data[section].porfoliopost %}
			{% include 'portfolio_post' %}
		{% endfor %}

	</div>




	{% include 'footer' %}


{% endblock %}
