{% extends layout %}
{% block content %}

{%assign section = "refer" %}

	{% include 'header' %}
	{% include 'canvas' %}
	{% include 'contenText' %}

	<section class="referenzen">
		<div class="modWrap center">
			<div class="imgItem__container">
				{% include 'gallery' %}
				<div class="widget">
					<a class="widget__link j-photoView" href="#">
						<div class="widget__container">
							<img class="imgOpacity imgResponsive" src="img/refer1.png" alt="referenzen">

							<div class="imgItem__content" href="#">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>

										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="widget">
					<a class="widget__link j-photoView" href="#">
						<div class="widget__container">
							<img class="imgOpacity imgResponsive" src="img/refer2.png" alt="referenzen">

							<div class="imgItem__content">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>
										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="widget">
					<a class="widget__link j-photoView" href="#">
						<div class="widget__container">
							<img class="imgOpacity imgResponsive" src="img/refer3.png" alt="referenzen">
							<div class="imgItem__content">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>
										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="widget">
					<a class="widget__link j-photoView" href="#">
						<div class="widget__container">
							<img class="imgOpacity imgResponsive" src="img/refer4.png" alt="referenzen">
							<div class="imgItem__content">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>
										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>

				<div class="widget">
					<a class="widget__link j-photoView j-photoView" href="#">
						<div class="widget__container">
							<img class="imgOpacity imgResponsive" src="img/refer5.png" alt="referenzen">
							<div class="imgItem__content">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>
										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>

				<div class="widget">
					<a class="widget__link j-photoView" href="#">
						<div class="widget__container">
						
							<img class="imgOpacity imgResponsive" src="img/refer6.png" alt="referenzen">
							<div class="imgItem__content">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>
										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="widget">
					<a class="widget__link j-photoView" href="#">
						<div class="widget__container">
						
							<img class="imgOpacity imgResponsive" src="img/refer7.png" alt="referenzen">
							<div class="imgItem__content">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>
										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>

				<div class="widget">
					<a class="widget__link j-photoView" href="#">
						<div class="widget__container">
						
							<img class="imgOpacity imgResponsive" src="img/refer8.png" alt="referenzen">
							<div class="imgItem__content">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>
										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>

				<div class="widget">
					<a class="widget__link j-photoView" href="#">
						<div class="widget__container">
						
							<img class="imgOpacity imgResponsive" src="img/refer9.png" alt="referenzen">
							<div class="imgItem__content">
								<span class="imgItem__effect"> 
									<div class="imgItem__item" href="#">
										<h3 class="imgItem__title"> Theater, Winterthur </h3>
										<div class="imgItem__showTxt">
											<img class="imgItem__arrow" src="img/arrow.png">
											<p class="imgItem__txt">
												Projekt ansehen
											</p>
										</div>
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>	
				
			</div>
		</div>		
	</section>

	{% include 'slider' %}

	<section class="kundenlist">
		<div class="table">
			<h2 class="table__title">
				Kundenliste
			</h2>

			<div class="table__content">
				<li class="table__list">
					<p class="table__titleTab">Öffentliche</p>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Winterthur</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Winterthur</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Zürich</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Thurgau</span>
				</li>
			</div>

			<div class="table__content">
				<li class="table__list">
					<p class="table__titleTab">Neubau
</p>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Winterthur</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Winterthur</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Zürich</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Thurgau</span>
				</li>
			</div>

			<div class="table__content">
				<li class="table__list">
					<p class="table__titleTab">Renovationen</p>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Winterthur</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Winterthur</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Zürich</span>
				</li>
				<li class="table__list">
					<p class="table__txt">Lorem IIpsum dolores grande</p>
					<span class="table__txtRight">Thurgau</span>
				</li>
			</div>
		</div>	
	</section>

	

	{% include 'footer' %}
{% endblock %}