{% extends layout %}
{% block content %}
	{%assign section = "services"%}

	{% include 'header' %} 

	{% include 'navigation' %}

		<div class="servicesTxt post">

			{% include 'txtPrePost' %}		
		</div>
			
		{% for itemGrafic in data[section].grafic %}
			{%include 'grafic' %}
		{% endfor %}

		<div class="title__widget">
			<h3 class="title__widgetTitl">
				Pricing tables
			</h3>
		</div>

		<div class="container aboutWidget">
			{% include 'widget'%}	
		</div>

	{% include 'txtPrePost' %}

	{% include 'clients'%}

	{% include 'footer' %}

{% endblock %}