//http://meyerweb.com/eric/tools/css/reset/
//   v2.0 | 20110126
//   License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline


// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block
body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none
table
	border-collapse: collapse
	border-spacing: 0
html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit


.clearfix:before,
.clearfix:after
	content: ""
	display: table

.clearfix:after
	clear: both

.clearfix
	zoom: 1

html, body
	margin: 0 auto
	padding: 0
	height: 100%
	font-family: 'Open Sans',sans-serif

$background: #f3f3f3
$violet: #a65980
$dark_violet: #8b4a6b
$azure: #37b1de
$grey: #ececec
$txt_gray: #777777
$bold_gray: #7f8c8c
$bord_violet: #743e59
$bord_azure: #20a8da

.wrapper
	max-width: 1500px
	margin: 0 auto

.container
	padding: 0 30px
	@media screen and (min-width: 650px)
		padding: 0 25px

	@media screen and (min-width: 1024px)
		padding: 0 150px

.bodyColor
	background-color: $background

.responsiveImg
	display: block
	width: 100%
	max-height: 100%
.slider
	position: relative

.slider__container
	position: relative
	max-height: 500px
	overflow: hidden

.slider__txt
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	color: #fff
	text-align: center

.slider__title
	line-height: 60px

.slider__titleTxt
	background-color: $azure
	font-size: 50px
	font-weight: 900
	text-transform: uppercase
	display: inline-block
	padding: 4px
	border-radius: 8px

.slider__subtitle
	background-color: #3f4646
	width: 80%
	margin: 0 auto
	padding: 14px
	border-radius: 8px


.slider__subtitleTxt
	font-size: 16px
	line-height: 20px

.arrow
	z-index: 3
	background-color: $azure
	position: absolute
	font-size: 40px
	padding: 5px 8px

	&.next
		top: 50%
		left: 0
		transform: translate(0%, -50%)
	&.previus
		top: 50%
		right: 0
		transform: translate(0%, -50%)
.arrows
	display: inline-block

.section
	padding-top: 30px
	position: relative
	// background-color: $background
	padding-bottom: 60px

.sectionGrey
	background-color: $grey
	padding: 20px

.sectionGrey__txt
	display: inline-block

.sectionGrey__title
	color: $bold_gray
	font-size: 30px
	font-weight: 600

.sectionGrey__subtitle
	color: $txt_gray
	font-size: 13px
	line-height: 45px
	font-weight: 300

.sectionGrey__button
	background-color: $azure
	display: inline-block
	float: right
	font-size: 20px
	text-transform: uppercase
	text-align: center
	border-radius: 7px
	box-shadow: 0px 4px 0px $bord_azure
	font-weight: 300
.button
	padding: 15px 40px

.widgets
	padding-top: 50px
	width: 100%

.widget__total
	display: inline-block
	float: left
	width: 23%
	margin-left: 2.5%
	font-size: 0px
	vertical-align: bottom

	&:first-child
		margin-left: 0

.widget__singlePart
	background-color: #fff

.widget__container
	padding: 30px 20px 73px
	text-align: center
.widget__icon
	font-size: 56px

.widgIcon
	color: $violet
	&.active
		color: $azure

.widget__txtBold
	color: $bold_gray
	font-size: 18px
	font-weight: bold
	line-height: 65px
	text-transform: uppercase
	margin-bottom: 17px

.widget__txt
	color: $txt_gray
	font-size: 14px
	font-weight: 300
	line-height: 23px

.widget__button
	background-color: $violet
	display: inline-block
	font-size: 20px
	text-align: center
	border-radius: 7px
	box-shadow: 0px 4px 0px $bord_violet
	left: 11.5%
	position: relative
	margin: -10% 0%
	vertical-align: bottom
	font-weight: 300
	&.active
		background-color: $azure
		box-shadow: 0px 4px 0px $bord_azure

.sectionVisual__grey
	background-image: url('/img/path.png')
	background-position: top center
	padding: 54px 0
	background-repeat: no-repeat
	background-color: $grey
	padding-bottom: 350px

.sectionVisual__greyBox
	text-align: center

.sectionVisual__greyTitle
	font-size: 40px
	font-weight: 600
	color: $azure

.sectionVisual__greyTxt
	font-size: 14px
	line-height: 30px
	color: $txt_gray
	font-weight: 300

.sectionVisual
	position: relative
	margin: -250px auto 0px
	margin-bottom: 80px

.sectionVisual__item
	position: relative
	display: inline-block
	font-size: 0
	margin: 0

	&.left
		top: -40px
	&.center
		margin-left: -120px
		z-index: 3
	&.right
		top: -40px
		margin-left: -80px
.section__end
	width: 20%
	display: inline-block
	margin-left: 4%
	vertical-align: top

	&:first-child
		margin-left: 0%

// .sectionList
// 	display: inline-block
// 	// width: 25%

.sectionList__title
	color: $bold_gray
	font-size: 16px
	font-weight: 900
	line-height: 60px

.sectionList__list
	line-height: 22px
.list
	color: $violet

.sectionList__txt
	font-size: 13px
	color: $txt_gray
	display: inline-block

.sectionGrafic
	display: inline-block
	width: 50%

.sectionGrafic__title
	line-height: 20px

.sectionGrafic__box
	padding-top: 45px

.sectionGrafic__single
	display: inline-block
	float: left
	width: 23%
	margin-left: 2.5%
	font-size: 0px
	vertical-align: bottom

	&:first-child
		margin-left: 0

.sectionTxt__txt
	line-height: 20px
	background-color: #fff
	padding: 10px 15px

.sectionTxt__cit
	color: $violet
	padding-top: 10px
	text-align: center

.sectionClient
	padding-top: 30px

.sectionClient__txt
	display: inline-block
	font-size: 16px
	font-weight: 900
	color: $bold_gray

.sectionClient__barra
	display: inline-block
	border: 1px solid $txt_gray
	width: 80%
	margin: 0px 7px

.sectionClient__icon
	display: inline-block
.icon-barra
	background-color: $bold_gray
	padding: 2px 3px

.sectionClient__box
	padding: 40px 0px
.sectionClient__brand
	display: inline-block
	background-color: #fff
	width: 13%
	padding: 34px
	margin-left: 4%

	&:first-child
		margin-left: 0%
