@import fonts
@import variables
@import iconfonts

body
	font-family: $baseFont
// hr
// 	border: 1px solid
// 	margin-top: 50px
// 	margin-bottom: 50px
// 	width: 95px
// 	color: #0085ac
// 	display: block

// 	+breakpoint (m)
// 		margin-top: 40px
// 		margin-bottom: 40px
	
// 	+breakpoint (l)
// 		margin-top: 50px
// 		margin-bottom: 50px

h2
	font-size: $fontSize-l
	padding-bottom: 18px
	letter-spacing:  1.2px
	//font-weight: bold
	color: $cerulean
	text-align: center
	+font-bold

	+breakpoint (m)
		padding-bottom: 30px
		font-size: $fontSize-l

	+breakpoint (l)
		padding-bottom: 30px
		font-size: $fontSize-xl

	+breakpoint (xl)
		font-size: $fontSize-xl


p 
	
	font-size: $fontSize-s

	+breakpoint (m)
		font-size: $fontSize-m

	+breakpoint (l)
		font-size: $fontSize-l

	+breakpoint (xl)
		font-size: $fontSize-m

a 
	text-decoration: none
	
.bgBase
	background-color: $cerulean

.bgGray
	background-color: $light-gray

.wrapper
	max-width: 100%
	margin: 0 auto
	//padding-top: 105px
	
.modWrap
	max-width: 90%
	margin: 0 auto
	+clearfix

	+breakpoint (m)
		max-width: 95%
		margin: 0 auto

	+breakpoint (l)
		max-width: 90%
		margin: 0 auto
	
	+breakpoint (xl)
		max-width: 80%
		margin: 0 auto
	
.center
	text-align: center	
	
.imgResponsive 
	display: block
	width: 100%
	height: 100%
	max-width: 100%
	

.linkHover
	border-bottom: 1px solid transparent
	&:hover
		border-bottom: 1px solid $white


.txtBold
	+font-bold
	font-family: 'futura_bdcn_btbold'
	font-weight: 700
	font-style: normal






