//http://meyerweb.com/eric/tools/css/reset/
//   v2.0 | 20110126
//   License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline


// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block
body
	line-height: 1

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none
table
	border-collapse: collapse
	border-spacing: 0
html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit


.clearfix:before,
.clearfix:after
	content: ""
	display: table

.clearfix:after
	clear: both

.clearfix
	zoom: 1

html, body
	margin: 0 auto
	padding: 0
	height: 100%
	font-family: 'Open Sans',sans-serif

$background: #f3f3f3
$violet: #a65980
$dark_violet: #8b4a6b
$azure: #37b1de
$grey: #ececec
$txt_gray: #777777
$bold_gray: #7f8c8c

.wrapper
	max-width: 1500px
	margin: 0 auto

.container
	padding: 0 30px
	@media screen and (min-width: 650px)
		padding: 0 100px

	@media screen and (min-width: 1024px)
		padding: 0 150px

.responsiveImg
	display: block
	width: 100%
.slider
	position: relative

.slider__container
	position: relative
	max-height: 500px
	overflow: hidden

.slider__txt
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	color: #fff
	text-align: center

.slider__title
	line-height: 60px

.slider__titleTxt
	background-color: $azure
	font-size: 50px
	font-weight: 900
	text-transform: uppercase
	display: inline-block
	padding: 4px
	border-radius: 8px

.slider__subtitle
	background-color: #3f4646
	width: 80%
	margin: 0 auto
	padding: 14px
	border-radius: 8px


.slider__subtitleTxt
	font-size: 16px
	line-height: 20px

.arrow
	z-index: 3
	background-color: $azure
	position: absolute
	font-size: 40px
	padding: 5px 8px

	&.next
		top: 50%
		left: 0
		transform: translate(0%, -50%)
	&.previus
		top: 50%
		right: 0
		transform: translate(0%, -50%)
.arrows
	display: inline-block

.section
	padding-top: 30px
	position: relative
	background-color: $background

.sectionGrey
	background-color: $grey
	padding: 20px

.sectionGrey__txt
	display: inline-block

.sectionGrey__title
	color: $bold_gray
	font-size: 30px
	font-weight: 600

.sectionGrey__subtitle
	color: $txt_gray
	font-size: 13px
	line-height: 45px
	font-weight: 300

.sectionGrey__button
	background-color: $azure
	display: inline-block
	float: right
	font-size: 20px
	text-transform: uppercase
	text-align: center
	border-radius: 7px
	box-shadow: 0px 4px 0px #20a8da
.button 
	padding: 15px 40px

.widgets
	padding-top: 50px

.widget__total
	// display: inline-block
	// float: left

.widget__singlePart
	background-color: #fff
	width: 20%

.widget__container
	padding: 30px
	text-align: center
.widget__icon
	font-size: 56px
.like
	color: $azure

.widget__txtBold
	color: $bold_gray
	font-size: 18px
	font-weight: bold
	line-height: 30px
	text-transform: uppercase
	margin-bottom: 17px

.widget__txt
	color: $txt_gray
	font-size: 14px
	font-weight: 300
	line-height: 20px








