.map
	padding: 0 0 35px

	@media screen and (min-width: 650px)
		padding: 0px 0 50px

.img__responsive
	width: 100%
	display: block

.info
	background-color: #ececec
	padding: 25px
	margin-bottom: 35px

	@media screen and (min-width: 650px)
		margin-bottom: 50px

.info__text
	color: $bold_gray
	font-size: 12px
	line-height: 22px

	@media screen and (min-width: 650px)
		font-size: 12px
		line-height: 15px


.contact
	width: 100%
	color: $bold_gray
	padding-bottom: 50px


.contact__form
	width: 100%

	@media screen and (min-width: 1024px)
		width: 70%
		float: left

.contact__title
	text-transform: uppercase
	font-size: 20px
	font-weight: 500
	padding-bottom: 30px

	@media screen and (min-width: 1024px)
		padding-bottom: 50px

.form
	width: 100%

.form__input
	width: 70%
	background-color: #e5e6e6
	padding: 15px 10px
	margin-bottom: 15px
	display: inline-block
	border: none
	margin-right: 10px

	@media screen and (min-width: 1024px)
		width: 40%

.form__label
	font-size: 12px

	@media screen and (min-width: 1024px)
		font-size: 15px

.form__textarea
	background-color: #e5e6e6
	border: none
	width: 90%

.form__button
	background-color: $azure
	display: block
	padding: 12px 40px
	margin-top: 20px
	border-radius: 5px
	border: none
	text-transform: uppercase
	color: white

.contact__address
	width: 100%
	margin-top: 35px

	@media screen and (min-width: 1024px)
		width: 30%
		float: right
		margin-top: 0px

.contact__icon
	font-size: 40px
	display: inline-block

.contact__text
	font-size: 10px

.contact__item
	display: block
	margin-top: 20px

	&:first-child
		margin-top: 0px

.contact__icon
	display: inline-block
	color: $txt_gray
	font-size: 20px
	margin-right: 13px

.mapIcon
	font-size: 40px
	color: $violet

.contact__text
	display: inline-block
	color: $txt_gray
	font-size: 10px
	@media screen and (min-width: 1024px)
		font-size: 13px

.contact__email
	color: $azure
	text-decoration: underline
