.contenText__txt 
	text-align: center
	padding-top: 46px
	// width: 75%
	// margin: 0 auto
	padding-bottom: 22px
	+breakpoint (m)
		padding-top: 50px
		padding-bottom: 0px

	+breakpoint (l)
		padding-top: 80px
		padding-bottom: 0px

	+breakpoint (xl)
		padding-top: 80px
		padding-bottom: 0px

.contenText__paragraph:after
	content: " "
	// margin-top: 30px
	// margin-bottom: 30px
	margin: 30px auto
	width: 95px
	height: 2px
	background-color: #0085ac
	display: block

	+breakpoint (m)
		margin-top: 40px
		margin-bottom: 40px
	
	+breakpoint (l)
		margin-top: 50px
		margin-bottom: 50px

	+breakpoint (xl)
		margin-top: 50px
		margin-bottom: 50px


.contenText__title 
	color: $cerulean
	width: 86%
	margin: 0 auto

	+breakpoint (m)
		width: inherit

	+breakpoint (l)
		width: inherit

	+breakpoint (xl)
		width: inherit


.contenText__paragraph
	font-size: $fontSize-m
	color: $dark-gray
	line-height: 26px
	//width: 90%
	margin: 0 auto
	text-align: justify
	//font-weight: lighter
	+font-lighter
	
	+breakpoint (m)
		font-size: $fontSize-m
		width: 80%
		text-align: center
	
	+breakpoint (l)
		font-size: 20px
		width: 70%
		line-height: $spaceLett
		text-align: center
	
	+breakpoint (xl)
		font-size: 20px
		width: 70%
		line-height: $spaceLett
		text-align: center
	