.footer
	display: block
	width: 100%
	color: $white
	//font-weight: lighter
	letter-spacing: 1px
	margin-top: 250px
	+font-lighter

	+breakpoint (m)
		margin-top: 150px

	+breakpoint (l)
		margin-top: 250px


.footer__container
	position: relative
	padding-top: 50px
	padding-bottom: 75px
	+clearfix

	+breakpoint (m)
		padding-top: 20px
		padding-bottom: 30px

	+breakpoint (l)
		padding-top: 50px
		padding-bottom: 75px

.footer__item
	display: inline-block
	vertical-align: middle

// .info__adressRoad
.info__about
	color: #fff
	letter-spacing: 2px
// 	padding: 5px 0

.infoRelative
	font-size: 13px

.info__List
	line-height: 30px
	font-size: $fontSize-mob
	letter-spacing: 1.5px
	font-weight: lighter

	+breakpoint (m)
		font-size: $fontSize-mob

	+breakpoint (l)
		font-size: $fontSize-m


.info__linkAdress
	+font-bold
	&:before
		content: "\e947"
		font-size: 22px

.info__contacts
	padding-top: 30px

.company
	display: inline-block
	vertical-align: middle
	padding-left: 50%
	float: right

	+font-lighter
	+breakpoint (m)
		padding-left: 0
	+breakpoint (l)
		padding-left: 50%


.info__company
	font-size: $fontSize-s

// .contact
// 	font-size: 16px
.telephone
	margin-left: 10px

.footer__info
	border-top: 1px solid 
	padding: 28px 0
	text-align: center
	font-size: 15px

.info__referenceDesigner
	border-left: 1px solid
	padding-left: 10px

.scroll 
	// display: none
	opacity: 0
	font-size: 60px
	padding: 10px
	color: $cerulean
	position: fixed
	bottom: 60px
	right: 10px 

	&.active
		display: block

	+breakpoint (m)

	+breakpoint (l)
	
			
// .scroll.active 
// 	visibility: visible
// 	opacity: 1
// 	display: block

.linkAdress
	color: #fff
