.sectionGrafic
	display: inline-block
	width: 100%

	@media screen and (min-width: 650px)
		width: 65%
	@media screen and (min-width: 1024px)
		width: 50%

.sectionGrafic__title
	line-height: 18px
	padding-top: 35px
	text-align: center
	@media screen and (min-width: 1024px)
		line-height: 20px

.sectionGrafic__box
	padding-top: 45px
	@media screen and (min-width: 1024px)
		padding-top: 20px

.sectionGrafic__single
	display: inline-block
	float: left
	width: 23%
	margin-left: 2.5%
	font-size: 0px
	vertical-align: bottom

	&:first-child
		margin-left: 0

