.header
	background-color: $violet
a
	text-decoration: none
	color: #fff
	display: inline-block
li
	list-style: none

.header__container 
	padding: 20px 0 14px

.header__brand
	font-size: 30px
	font-weight: 900

.header__brandText
	font-size: 25px
	font-weight: 400
	display: inline-block

.header__navbar
	float: right

.header__item
	display: inline-block

.header__menu
	font-size: 13px
	font-weight: 400
	text-transform: uppercase
	padding: 7px 17px
	border-radius: 8px

	&.active 
		font-size: 14px
		background-color: $dark_violet
		box-shadow: 0px 4px 0px #743e59

	&:hover
		background-color: $azure
		box-shadow: 0px 4px 0px #20a8da

.header__link 
	display: inline-block
.iconNav
	vertical-align: middle

.header__subMenu
	background-color: #20a8da

.header__voice
	display: none
	&.active
		display: block









