.header__fixed
	// position: fixed
	display: block
	position: absolute
	top: 0
	left: 0
	width: 100%
	padding: 0px 0 0px
	background-color: $cerulean
	z-index: 10

	+breakpoint (m)
		padding: 0px 0 0px

	+breakpoint (l)
		padding: 25px 0 25px
		
.header__container 
	position: relative
	+clearfix

.header__logo
	display: inline-block
	padding-top: 0px

	+breakpoint (m)
		display: block
		width: 250px
		margin: 0 auto
		padding-top: 20px

	+breakpoint (l)
		display: inline-block
		padding-top: 0px
		width: inherit
		position: relative
		left: 0

.header__navbar
	display: none
	position: absolute
	right: 0
	bottom: 0 

	+breakpoint (m)
		display: block
		text-align: center
		padding-top: 17px
		position: relative

	+breakpoint (l)
		display: inline-block
		position: absolute
		right: 0
		bottom: 0 
		padding-top: 0px


.header__menu 
	list-style: none
	display: inline-block
	
.header__voice
	padding: 10px 30px
	color: #fff
	font-size: $fontSize-m
	letter-spacing: 2px
	display: block
	position: relative
	//font-weight: lighter
	+font-book

	+breakpoint (m)
		font-size: 14px
		padding: 10px 20px

	+breakpoint (l)
		font-size: $fontSize-m
		padding: 10px 30px

	&.active:after
		content: " "
		display: block
		border-bottom: 1px solid $white
		width: auto
		position: absolute
		bottom: 5px
		right: 0
		left: 0
		margin: 0px 30px

		+breakpoint (m)
			margin: 0px 15px

		+breakpoint (l)
			margin: 0px 30px

	&:hover:after
		content: " "
		display: block
		border-bottom: 1px solid $white
		width: auto
		position: absolute
		bottom: 5px
		right: 0
		left: 0
		margin: 0px 30px

		+breakpoint (m)
			margin: 0px 15px
			
		+breakpoint (l)
			margin: 0px 30px


	

// .voiceHover
// 	border-bottom: 1px solid transparent
// 	padding-bottom: 2px
// 	&:hover 
// 		border-bottom: 1px solid $white
// 		padding-bottom: 2px
	
// 	&.active
// 		border-bottom: 1px solid $white
// 		padding-bottom: 2px
.sticky
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 10px 0
	opacity: 0.9
	transition: right 1s ease
	//box-shadow: 0 5px 10px -5px rgba(149, 153, 153, 0.6)

	+breakpoint (m)
		padding: 0px 0
	+breakpoint (l)
		padding: 10px 0
