.wrapper
	right: 0
	position: relative
	transition: right .4s ease
	padding-top: 40px
	@media screen and (min-width: 650px)
		padding-top: 0px
	@media screen and (min-width: 1024px)
		padding-top: 0px
	
	.menuMobile &
		right: 40%
		@media screen and (min-width: 650px)
			right: 50%
		@media screen and (min-width: 1024px)
			right: 0%

.menuMobile
	overflow-x: hidden

.header
	background-color: $violet
	width: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 9999

	@media screen and (min-width: 650px)
		position: fixed
	@media screen and (min-width: 1024px)
		position: relative
a
	text-decoration: none
	color: #fff
	display: inline-block
li
	list-style: none

.header__fixed

.header__container 
	padding: 20px 0 14px
	position: relative
	right: 0
	transition: right .4s ease

	@media screen and (min-width: 650px)
		padding: 20px 0 14px
		right: 0
		.menuMobile &
			right: 40%

	@media screen and (min-width: 1024px)
		padding: 20px 0 14px
		right: 0
		.menuMobile &
			right: 0%
		


.header__brand
	font-size: 18px
	font-weight: 900

	@media screen and (min-width: 650px)
		font-size: 30px
		display: block
		text-align: center 
	
	@media screen and (min-width: 1024px)
		font-size: 30px
		font-weight: 900
		display: inline-block

.header__brandText
	font-size: 14px
	font-weight: 400
	display: inline-block

	@media screen and (min-width: 650px)
		font-size: 25px
	@media screen and (min-width: 1024px)
		font-size: 25px

.header__mobileIcon
	display: inline-block
	float: right

	@media screen and (min-width: 650px)
		display: none
	@media screen and (min-width: 1024px)
		display: none

.header__navbar
	display: none
	transition: right .4s ease

	.menuMobile &
		display: block
		background-color: $dark_violet
		position: fixed
		width: 40%
		height: 100%
		right: 0%
		top: 61px
		transition: right .4s ease
		padding: 40px 13px

	@media screen and (min-width: 650px)
		padding-top: 8px
		float: none
		text-align: center
		display: block

	@media screen and (min-width: 1024px)
		float: right
		padding-top: 0px
		display: inline-block

.header__item
	display: inline-block

	.menuMobile &
		display: block
		text-align: right
		line-height: 30px
		border-bottom: 1px solid $violet

		&:hover
			background-color: $azure
			box-shadow: 0px 4px 0px $bord_azure
			border: 7px

		@media screen and (min-width: 1024px)
			display: inline-block

	@media screen and (min-width: 650px)
		&.searchItem
			float: right
			border-left: 2px solid $bord_violet

	@media screen and (min-width: 1024px)
		&.searchItem
			float: none
			border-left: none


.header__menu
	font-size: 13px
	font-weight: 400
	text-transform: uppercase
	padding: 7px 17px
	border-radius: 8px

	.menuMobile &
		&.active 
			font-size: 14px
			box-shadow: 0px 0px 0px 
		&:hover
			font-size: 16px

	@media screen and (min-width: 650px)
		font-size: 11px
		padding: 7px 11px

		&.active 
			font-size: 12px
			background-color: $dark_violet
			box-shadow: 0px 4px 0px $bord_violet
		&:hover
			background-color: $azure
			box-shadow: 0px 4px 0px $bord_azure

		&.searchMenu
			padding: 4px 6px

	@media screen and (min-width: 1024px)
		font-size: 13px
		font-weight: 400
		text-transform: uppercase
		padding: 7px 17px
		border-radius: 8px

		&.active 
			font-size: 14px
			background-color: $dark_violet
			box-shadow: 0px 4px 0px $bord_violet

		&:hover
			background-color: $azure
			box-shadow: 0px 4px 0px $bord_azure

.header__link 
	display: inline-block
.iconNav
	vertical-align: middle

.header__subContent
	display: none
	&.active
		display: block
		padding-top: 20px
		background-color: $bord_azure
		position: fixed
		top: 10px
		background-color: $bord_azure
		height: 40%
		width: 30%
		border: 2px solid red

.header__subMenu
	// display: none
	// &.active
	// 	display: block
	// 	position: fixed
	// 	top: 10px
	// 	background-color: $bord_azure
	// 	height: 40%
	// 	width: 30%
	// 	border: 2px solid red











