.kontakt__container
	padding-bottom: 80px
	display: inline-block
	width: 100%

	+breakpoint (m)
		width: 100%

	+breakpoint (l)
		width: 60%

	+breakpoint (xl)
		width: 60%

.kontakt__wrapper
	+breakpoint (m)
		width: 80%
		margin: 0 auto


.kontakt__title
	margin-bottom: 50px
	margin-top: 80px

.form__voice
	width: 100%
	padding: 10px
	background-color: $bg-form
	font-size: 17px
	color: $txt-grayDark


.inputMaterial
	margin-top: 16px
	position: relative
	border-radius: 4px
	background-color: #ffffff
	border: 1px solid #dcdcdc

	

.inputMaterial__input
	background-color: transparent
	border: none
	height: 50px
	width: 100%
	font-size: 16px
	margin: 0
	padding: 18px 16px 8px 16px
	line-height: 1
	box-shadow: none

.inputMaterial__label
	color: #9e9e9e
	position: absolute
	top: 16px
	font-size: 16px
	left: 16px
	cursor: text
	transition: all .2s ease-out
	color: #808080
	font-weight: normal
	line-height: 1

.Txtarea
	padding-bottom: 150px
	overflow: hidden


.btnForm
	background-color: $cerulean
	padding: 10px 25px
	display: inline-block
	color: $white
	font-size: 17px
	letter-spacing: 1px
	text-align: center
	border-radius: 4px
	transition: all 0.3s ease 0s
	border-color: transparent
	margin-top: 24px

	&:hover
		background-color: #13728e

.footer__itemKont
	float: right
	width: 100%
	margin: 0 auto
	display: inline-block

	+breakpoint (m)
		width: 80%
		float: none

	+breakpoint (l)
		width: 30%
		margin: 0 auto
		float: right

	+breakpoint (xl)
		width: 30%
		margin: 0 auto
		float: right
		
.info__aboutKont
	color: $txt-grayDark
	//font-weight: 200
	font-size: 17px
	+font-lighter


