.referenzen
	padding-bottom: 170px

.imgItem__container
	width: 100%
	margin: 0 auto
	+clearfix

.widget
	position: relative
	float: none
	width: 100%
	display: inline-block
	margin-bottom: 20px

	+breakpoint (m)
		width: 45%
		margin-bottom: 2% 
		margin-left: 2%
		// float: left

		&:first-child(2n+1)
			margin-left: 0%

	+breakpoint (l)
		width: 28%
		margin-bottom: 2% 
		margin-left: 2%
		// float: left

		&:first-child(n+1)
			margin-left: 0%

	+breakpoint (xl)
		width: 28%
		margin-bottom: 2% 
		margin-left: 2%
		// float: left

		&:first-child(2n+1)
			margin-left: 0%

.widget__link
	display: block

.widget:before
	content: ''
	display: block
	padding-top: 67%

.widget__container
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

	+breakpoint (m)

	+breakpoint (l)

	+breakpoint (xl)
	
.widget__container:hover
	transition: opacity 0.25s ease-in-out

	.imgOpacity
		background-color: rgba(0, 0, 0, 0.2)
		opacity: 0.8
		height: 100%
		width: 100%
		z-index: 10
	.imgItem__content
		.imgItem__item
			background-color: rgba(22, 141, 176, 0.8)
			z-index: 40

.imgItem__content
	display: block
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	margin-top: 28px
	z-index: 20

.imgItem__effect
	vertical-align: bottom
	
		
.imgItem__content
	.imgItem__item
		display: block
		text-align: left
		width: 90%
		margin: 0 auto
		padding: 20px
		background-color: $cerul-opacity
		color: $white
		z-index: 30
		letter-spacing: 2px
		line-height: 30px
		overflow: hidden
		height: 118px
		position: relative
		transition: height 0.8s

		&:hover
			height: 146px
			background-color: rgba(22, 141, 176, 0.92)
			z-index: 40
		
		+breakpoint (m)
			&:hover
				height: 200px

		+breakpoint (l)
			&:hover
				height: 200px
				background-color: rgba(22, 141, 176, 0.92)

		+breakpoint (xl)
			&:hover
				height: 200px
				background-color: rgba(22, 141, 176, 0.92)


	// vertical-align: middle
	// display: inline-block


.imgItem__title
	font-size: $fontSize-m
	display: block
	overflow: hidden
	width: 90%
	line-height: 1.3
	+font-medium

	+breakpoint (m)
		font-size: $fontSize-m
		+font-medium

	+breakpoint (l)
		font-size: $fontSize-l
		+font-bold

	+breakpoint (xl)
		font-size: $fontSize-l
		+font-bold

.imgItem__showTxt
	width: 90%
	//bottom: 10px
	z-index: 100
	margin-top: 15px
	position: absolute
	left: 20px
	bottom: 10px

.imgItem__arrow
	

.imgItem__txt
	font-size: $fontSize-s
	font-weight: medium
	display: inline-block
	
	+breakpoint (m)
		font-size: $fontSize-s

	+breakpoint (l)
		font-size: $fontSize-m

	+breakpoint (xl)
		font-size: $fontSize-m

.table
	padding-top: 80px
	width: 100%
	margin: 0 auto

.table__content
	width: 90%
	margin: 0 auto
	display: block
	padding-bottom: 30px
	padding-top: 30px
	+clearfix

	+breakpoint (m)
		padding-bottom: 50px
		padding-top: 30px
		width: 50%

	+breakpoint (l) 
		padding-bottom: 50px
		padding-top: 30px
		width: 50%

	+breakpoint (xl)
		padding-bottom: 50px
		padding-top: 30px
		width: 50%

.table__titleTab 
	color: $cerulean
	font-size: $fontSize-m

	+breakpoint (m)
		font-size: $fontSize-m
	+breakpoint (l) 
		font-size: $fontSize-xl

	+breakpoint (xl)
		font-size: $fontSize-xl

.table__txt
	display: inline-block
	color: $dark-gray
	font-size: $fontSize-s
	+font-lighter

	+breakpoint (m)
		font-size: $fontSize-s

	+breakpoint (l)
		font-size: $fontSize-l

	+breakpoint (xl)
		font-size: $fontSize-l

.table__txtRight
	float: right
	@extend .table__txt

.table__list
	border-bottom: 1px solid $light-gray
	padding: 10px 0





	