.widget__singleBox
	min-height: 50px
	border-radius: 7px
	box-shadow: 0px 3px 0px $bold_gray
	border: 2px solid $bold_gray

	&.active
		background-color: $azure
		box-shadow: 0px 5px 0px $bord_azure

.widget__contentImg
	display: block

	&.active
		display: none

.widget__contentHiden
	display: none
	width: 77%
	margin: 0 auto
	padding-bottom: 35px

	&.active
		display: block

.widget__descript
	font-size: 13px
	color: #fff
	font-style: italic
	padding-top: 34px
	line-height: 22px
	padding-bottom: 60px	
	padding-top: 34px


.widget__itemAbout
	display: inline-block
	background-color: #209EDA
	width: 20%
	margin-left: 5%
	font-size: 25px
	text-align: center
	padding: 7px 0px
	border-radius: 5px

	&:first-child
		margin-left: 0%

	


