.article
	border-bottom: 2px solid #827e7e
	margin-bottom: 55px
	display: inline-block
	font-size: 0

.article__info
	width: 20%
	display: inline-block
	margin-right: 20px
	vertical-align: top
	@media screen and (min-width: 650px)
		width: 13%

	@media screen and (min-width: 1024px)
		width: 16%

.article__date
	display: block
	background-color: white
	color: $bold_gray
	padding: 9px
	box-shadow: 0px 8px 8px #dedede
	text-align: center
	text-transform: uppercase
	font-size: 16px
	margin-bottom: 21px
	line-height: 20px
	border: 1px solid #efefef
	@media screen and (min-width: 650px)
		font-size: 19px

	@media screen and (min-width: 1024px)
		padding: 20px
		margin-bottom: 30px
		font-size: 30px
		line-height: 33px


.article__icon
	font-size: 20px


.article__type
	display: block
	background-color: $bold_gray
	color: white
	text-align: center
	padding: 18px
	font-size: 18px

	@media screen and (min-width: 650px)
		padding: 20px
		font-size: 20px
	@media screen and (min-width: 1024px)
		padding: 30px
		font-size: 30px

.article__box
	display: inline-block
	width: 70%
	@media screen and (min-width: 650px)
		width: 81%

.article__img
	display: block
	width: 100%


.article__title
	color: $violet
	font-size: 16px
	font-weight: 500
	letter-spacing: 2px
	padding: 21px 0
	line-height: 20px
	@media screen and (min-width: 650px)
		font-size: 16px
		padding: 21px 0

	@media screen and (min-width: 1024px)
		font-size: 20px
		padding: 25px 0
		line-height: 24px

.light_blue
	font-weight: 800
	color: $azure
	margin-right: 10px

.article__item
	display: inline-block
	color: $txt_gray
	margin-right: 30px
	font-weight: 600

	&:last-child
		margin-right: 0px

.violet
	font-weight: 600
	color: $violet

.article__text
	font-size: 13px
	line-height: 21px
	color: $txt_gray
	@media screen and (min-width: 650px)
		font-size: 13px
		line-height: 21px

	@media screen and (min-width: 1024px)
		font-size: 16px
		line-height: 23px

.article__continue
	color: $violet
	text-decoration: none
	padding: 20px 0 55px
	font-size: 16px
